.header {
   background-color: #a4a0f8;
  width:auto;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
font-size: 15px;
}

body {
background-color: #4238ff;
}

div {
  background-color: #a4a0f8;
  border: 5px ridge #140bc1;
  width:auto;
  height:auto;
  padding:5px;
  margin:15px;
position:relative;
text-align:center;
overflow:hidden;
}

.footer {
   background-color: #a4a0f8;
  width:auto;
  height:auto;
  padding:5px;
position:relative;
text-align:center;
overflow:hidden;
}

a {
  color: #060080;
  font-family: Tahoma, Geneva, sans-serif;
}

a:hover {
  color: #FFF;
}

body {
  color: #0900bd;
  font-family: Tahoma, Geneva, sans-serif
}

h1 {
  color: #0900bd;
  font-family: Tahoma, Geneva, sans-serif
  padding: 0px;
  margin: 0px;
}

h2 {
  color: #0900bd;
  font-family: Tahoma, Geneva, sans-serif
  padding: 0px;
  margin: 0px;
}

p {
  color: #0900bd;
  font-family: Tahoma, Geneva, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8a89a9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #140bc1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #140bc1;
}

img {
  max-width: 100%;
  height: auto;
}